.u-section-1 .u-sheet-1 {
  min-height: 729px;
}

.u-section-1 .u-product-1 {
  min-height: 609px;
  margin: 60px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-group-1 {
  width: 500px;
  min-height: 545px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 30px auto 0;
}

.u-section-1 .u-product-price-1 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 10px 96px 10px 95px;
}

.u-section-1 .u-image-1 {
  width: 540px;
  height: 542px;
  margin: -545px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 667px;
  }

  .u-section-1 .u-product-1 {
    height: auto;
    min-height: 547px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    width: 365px;
    min-height: 486px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 51px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    padding-left: 78px;
    padding-right: 78px;
  }

  .u-section-1 .u-image-1 {
    width: 485px;
    height: 486px;
    margin-top: -486px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1210px;
  }

  .u-section-1 .u-product-1 {
    min-height: 1090px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    min-height: 399px;
    margin-top: 630px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    height: 600px;
    margin-top: -1029px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1084px;
  }

  .u-section-1 .u-product-1 {
    min-height: 964px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    min-height: 407px;
    margin-top: 493px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    height: 455px;
    margin-top: -892px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 959px;
  }

  .u-section-1 .u-product-1 {
    margin-bottom: -417px;
    min-height: 839px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    min-height: 422px;
    margin-top: 351px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 12px;
  }

  .u-section-1 .u-btn-1 {
    padding-right: 37px;
    padding-left: 36px;
  }

  .u-section-1 .u-image-1 {
    height: 321px;
    margin-top: -773px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}